/*FONTS
font-family: 'Lato', sans-serif;
*/

body {
  background: #F8F7EE;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color:#1E3558;
  color:#2d2d2d;
}

a{
  color:#F16B6D;
  color:#DD514E;
}
a:hover{
  text-decoration: underline;
 color:#F16B6D; 
 color:#DD514E; 
}

hr{
  margin:48px auto;
  width: 50%;
  border-bottom: 1px #ccc solid;
}

h1 {
  margin:0 0 20px 0;
  font-weight: 900;
  text-shadow: 0 1px rgba(0,0,0,0.15);
}

h3 {
  margin:0 0 40px 0;
  font-weight: 900;
  font-size: 28px;
  text-shadow: 0 1px rgba(0,0,0,0.15);
}

h4 {
  margin:0 0 25px 0;
  font-weight: 00;
  font-size: 24px;
}

h5{
  font-family: 'Lato', sans-serif;
}
h6 {
  margin:0 0 15px 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  /*text-shadow: 0 2px rgba(0,0,0,0.15);*/
}

section{
  padding:65px 0;
}

.container{
  max-width:850px;
}


/*NAVIGATION*/
.nav-wrap{
  padding:0;
}

ul.navbar{
  margin: 20px 0 0 0;
  padding: 0;
  min-height: auto;
  list-style-type: none;
  text-align: left;
  border:none;
  li{
    padding-top:10px;
    padding-right:15px;
    padding-bottom:15px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    a{
      color:#fff !important;
      -webkit-transition: all 0.15s ease-in-out;
         -moz-transition: all 0.15s ease-in-out;
           -o-transition: all 0.15s ease-in-out;
              transition: all 0.15s ease-in-out;
    }
    a:hover{
      background: rgba(255,255,255,.2) !important;
    }
  }
}


.navbar .active a{
  background: #19BAF9 !important;
}
.navbar li.active a{

}


/*HEAD*/
#head{
  padding: 21px 5px 0 5px;
  background: #444;
  background: #DD514E;
  color:#fff;
}
#head .logo{
  width: 130px;
}
#head h1{
  margin:0;
  padding-left: 3px;
  font-weight: 500;
  font-size: 58px;
  font-family: "livory";
  line-height: 55px;
  text-transform: lowercase;
}
#head h1 a{
  color:#fff;
}
#head h1 a:hover{
  text-decoration: none;
}
#head h3 {
  margin:3px 0 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  width: 186px;
  text-align: right;
}
#head h3 span{
  display: block;
}

#head h3 a{
  color:#fff;
  text-decoration: none;
}
#head h3 a:hover{
  border-bottom:1px #fff solid;
}

#learn-more{
  margin-top: 70px;
}
#learn-more p{
  font-size: 24px;
  font-weight: 300;
}
#learn-more p a{
  color:#fff;
  text-decoration: underline;
}
#learn-more .coming-soon{
  text-transform: uppercase;
}

/*Social*/
#social{}
#social a{
  margin-right: 5px;
  color:#fff;
  font-size: 24px;
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
#social a:hover{
  color:#fff; 
}


/*ENTRY // Blog Posts*/
#blog{
  margin:0;
  padding:0;
}
#blog .container{
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#blog .container:last-child{
  margin-bottom: 0;
}

.home-link{
  margin-bottom: 20px;
}
.date-hed{
  margin:0 0 50px 0;
}
.date-hed h5{
  margin: 0;
  color:#777;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  /*font-family: 'freight-text-pro', 'Palentino', Georgia, serif;*/
}
.date-hed h5 a{
  /*color:#90A0D6;*/
  text-decoration: none;
}
.entry{
  margin:0;
  padding:30px 0 30px 0; 
  color:#686868;
  font-family: 'freight-text-pro', 'Palentino', Georgia, serif;
}
.entry .entry-summary p{
  margin-bottom: 15px;
}
.entry-summary .more{
  display: block;
}
.single .entry-summary,
.page .entry-summary{
  display: none;
}
.entry-summary,
.entry-content{
  font-size:18px;
  line-height:28px;
  letter-spacing: 0.01em;
}
.single .entry-content,
.page .entry-content{
  display: block;
}

.entry p{
  margin-bottom: 21px;
}

.entry-content ul,
.entry-content ol{
  margin-bottom: 15px;
  padding-left: 21px;
}
.entry-content li{
  margin-bottom: 10px;
}


.entry .kicker{
  margin:0 0 10px 0;
  font-size:14px;
  font-weight:400;
  font-family: 'Lato', sans-serif;
}
.entry .kicker a,
.entry .kicker a:hover{
  text-decoration: none;
}
.entry-title{
  margin-top:0;
  margin-bottom:14px;
  font-size:24px;
  font-family: 'Lato', sans-serif;
  font-weight:700;
  color:#444;
  text-shadow:none;
}
.entry-title a{
  color:#444;
  text-decoration: none;
  border-bottom: 1px #F8F7EE solid;
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
.entry-title a:hover{
  border-bottom: 1px #121212 solid;
  /*text-decoration: underline;*/
}


.author_date{
  margin-bottom: 25px;
  font-size:15px;
  color:#686868;
  font-family: 'Lato', sans-serif;
}


/*Draft Posts*/
.status-label{
  margin-right:3px;
  font-family: 'Lato', sans-serif;
  text-transform:uppercase;
  font-size:13px;
}
.status-draft .status-label{
  padding:1px 5px;
  border-radius: 2px;
  background:rgba(247, 198, 5, 0.35);
}

/*Entry Meta*/
.entry-meta{
  margin-bottom:0;
  color:#b9b5b5;
  color:#9c9999;
  font-family: 'Lato', sans-serif;
}

.archive-title{
  margin-bottom: 15px;
}
.tags-list{
  margin-bottom: 25px;
}
.tags-list a{
  padding: 2px 12px 3px 12px;
  background-color: rgba(221,81,78,.75);
  font-size: 12px;
  color:#fff;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
     -moz-transition: background-color 0.15s ease-in-out;
       -o-transition: background-color 0.15s ease-in-out;
          transition: background-color 0.15s ease-in-out;
}
.tags-list a:hover{
  background-color: rgba(221,81,78,1);
}

.share-buttons{
  display: block;
  font-size: 18px;
}
.share-buttons a{
  padding: 5px 25px;
  color:#fff;
  -webkit-transition: background-color 0.15s ease-in-out;
     -moz-transition: background-color 0.15s ease-in-out;
       -o-transition: background-color 0.15s ease-in-out;
          transition: background-color 0.15s ease-in-out;
}


.twitter-share{
  background-color:rgba(0, 172, 237,.65);
}
.twitter-share:hover{
  background-color:rgba(0, 172, 237,1.0);
}

.facebook-share{
  background-color:rgba(59,89,152,.65);
}
.facebook-share:hover{
  background-color:rgba(59,89,152,1.0);
}

.linkedin-share{
  background-color:rgba(0,119,181,.65);
}
.linkedin-share:hover{
  background-color:rgba(0,119,181,1.0);
}



.btn-edit{
  /*text-transform: uppercase;*/
}

/*IMAGES*/
.photo{
  margin-bottom:21px;
  font-family: 'Lato', sans-serif;
}
.photo img{
  margin-bottom:2px;
}
.photo .credit{
  color:#999;
  font-size:11px;
  line-height: 11px;
  text-align: right;
  float: right;
}
.photo .caption{
  color:#999;
  font-size:13px
}

.photo-andrej{
  margin-left:auto;
  margin-right:auto;
  width:60%;
}


/*Newsletter Promo*/
#newsletter-promo{
  margin-bottom: 10px;
  margin-top: 70px;
  padding: 0;
  /*display: none;*/
}
#newsletter-promo .container{
  max-width: 800px;
  background: #F16B6D;
  background: #999;
  color:#fff;
  position: relative;
  border-bottom:2px #c7585a solid;
}
#newsletter-promo .close{
  position: absolute;
  right: 10px;
  top:5px;
  z-index: 999;
  color:#fff;
  opacity: 0.5;
  font-weight: 200;
  text-shadow:none;
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
#newsletter-promo .close:hover{
  opacity: 0.8;
  cursor: pointer;
}

#newsletter-promo .triangle{
  margin: 0 0 0 15px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 85px solid transparent;
  border-top: 75px solid #c7585a;
  position: absolute;
  bottom: -75px;
  z-index: 999;
}
#newsletter-promo .triangle:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 85px solid transparent;
  border-top: 75px solid #F16B6D;
}


#newsletter-promo .box{
  /*padding:30px 5% 30px 5%; */
}

#newsletter-promo .box h3{
  margin-bottom: 15px;
  font-size: 21px;
}
#newsletter-promo .box h3 span {
  display: inline;
}
#newsletter-promo .box h3 i{
  margin-right: 3px;
}
#newsletter-promo .box .mailing-list-box{
  margin-bottom: 0;
}
#newsletter-promo .box .mailing-list-box label{
  display: none;
}
#newsletter-promo .box .mailing-list-box input{
  width:100%;
}
#newsletter-promo .email,
#newsletter-promo .email:focus{
  border:none;
  color:#F16B6D;
}
#newsletter-promo .email::-webkit-input-placeholder { /* WebKit browsers */
  color:#F16B6D;
}
#newsletter-promo .email:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#F16B6D;
}
#newsletter-promo .email::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#F16B6D;
}
#newsletter-promo .email:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#F16B6D;
}

#newsletter-promo .box .mailing-list-box .btn-submit{
  background: #555;
  background: #5098f1;
  background: #4F64DB;
  background: #6077D8;
  background: #6A88E5;
  color:#fff;
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
#newsletter-promo .box .mailing-list-box .btn-submit:hover{
  background: #444;
  background: #427fcb;
  background: #536cbd;
}



#editor-tools{
  margin:0;
  padding: 8px;
  font-size: 12px;
  color:#686868;
  border-radius: 3px;
  background: #fff;
  display: none;
}
#editor-tools h5{
  margin-top: 0;
  display: none;
}
#editor-tools ul{
  margin-bottom: 0;
  padding: 0;
}
#editor-tools li{
  padding: 0 18px;
  list-style-type: none;
  float: left;
}
#editor-tools li i{
  margin-top: 3px;
  text-indent: -17px;
  float: left;
}
#nextprev{
  padding: 0;
}


#mission-box{
  margin: 0;
  background: #333;
  background: #0a1523;
  background: #3B3D44;
  color:#fff;
}
.mission-txt{
  margin-top: 20px;
  font-size: 21px;
  font-weight: 300;
}

/*Footer*/
#footer{
  padding: 40px 0;
  text-align: center;
  font-weight: 600;
  border-bottom: 15px solid #222;
  color:#ccc;
  background: #3B3D44;
  background: #2b2d32;
}
#footer p{
  margin: 0;
  font-size:21px;
  line-height: 21px;
}
#footer .flag{
  margin: 0 auto;
  border: 1px #DD514E solid;
  border-radius: 20px;
  font-size:15px;
  width: 30px;
  height: 30px;
}
#footer .title{
  margin-bottom: 3px;
  font-family: "livory";
  text-transform: lowercase;
}
#footer .title a{
  color:#ccc;
}
#footer .flag .fa-flag{
  color:#DD514E;
  position: relative;
  top: 3px;
}
#footer .datespan{
  margin-bottom:8px;
  font-weight: 400; 
  font-size:13px;
}
#footer .colophon{
  margin-top:10px;
}
#footer .colophon{
  font-weight: 400; 
  font-size:14px;
}
#menu-footer{
  padding:0;
}
#menu-footer li{
  font-size: 15px;
  display: inline;
}
#menu-footer li a{
  padding: 5px 10px;
}

#infinite-handle{
  margin-bottom: 60px !important;
  padding-top:0 !important;
  padding-bottom:0 !important;
  .btn{
    margin-left: 16px;
    background: #DD514E;
    color: #fff;
  }
}