
/*Break Points*/
$break-xs: "screen and (max-width: 767px)";
$break-sm: "screen and (min-width: 768px)";
$break-md: "screen and (min-width: 992px)";
$break-lg: "screen and (min-width: 1200px)";

// Colors
$dark: #162C40;
$dark-blue: #335B81;
$red: #DD514E;
$btn-blue: #6A88E5;

// Type:
$sans: 'Lato', sans-serif;
$serif: 'freight-text-pro', 'Palentino', Georgia, serif;

// ----------------------

body {
  background: #F8F7EE;
  font-family: $sans;
  font-size: 18px;
  color:$dark;
  /* Rectangle: */
  // opacity: 0.7;
  background-image: -webkit-linear-gradient(left, rgba(248,240,207,0.70) 0%, rgba(215,218,193,0.70) 100%);
  background-image: -o-linear-gradient(left, rgba(248,240,207,0.70) 0%, rgba(215,218,193,0.70) 100%);
  background-image: linear-gradient(to right, rgba(248,240,207,0.70) 0%, rgba(215,218,193,0.70) 100%);


  a{
    color:$red;
  }
  a:hover{
    text-decoration: underline;
    color:$red;
  }
}



hr{
  margin:48px auto;
  width: 50%;
  border-bottom: 1px #ccc solid;
}

h1 {
  margin:0 0 20px 0;
  font-weight: 900;
  text-shadow: 0 1px rgba(0,0,0,0.15);
}

h3 {
  margin:0 0 40px 0;
  font-weight: 900;
  font-size: 28px;
  text-shadow: 0 1px rgba(0,0,0,0.15);
}

h4 {
  margin:0 0 25px 0;
  font-weight: 00;
  font-size: 24px;
}

h5{
  font-family: $sans;
}
h6 {
  margin:0 0 15px 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  /*text-shadow: 0 2px rgba(0,0,0,0.15);*/
}

section{
  padding:65px 0;
  .container{
    max-width:1040px;
  }
}




/*NAVIGATION*/
.nav-wrap{
  padding:0;
}

ul.navbar{
  margin: 10px 0 0 0;
  padding: 0;
  min-height: auto;
  list-style-type: none;
  text-align: left;
  border:none;
  @media #{$break-sm} {
    margin-top: 0;
    text-align: right;
  }
  li{
    padding:10px 25px 10px 0;
    font-size: 16px;
    @media #{$break-sm} {
      padding:0 0 10px 25px;
      font-size: 18px;
    }
    font-weight: 600;
    display: inline-block;
    -webkit-transition: all 0.15s ease-in-out;
       -moz-transition: all 0.15s ease-in-out;
         -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
    a{
    }
    a:hover{
      // background: rgba(255,255,255,.2) !important;
      border-bottom: 2px $red solid;
      text-decoration: none;
    }
  }
  li:hover{
    // border-bottom: 2px #fff solid;
  }
}



/*HEAD*/
#head{
  padding: 30px 5px 25px 5px;
  @media #{$break-sm} {
    padding: 45px 5px 25px 5px;
  }
  color:$dark;
  h1{
    margin:0;
    padding-left: 3px;
    font-weight: 500;
    font-size: 58px;
    font-family: "livory";
    line-height: 55px;
    text-transform: lowercase;
    @media #{$break-sm} {
      font-size: 82px;
    }
    .logo{
      margin-left: -15px;
      width: 200px;
      @media #{$break-sm} {
        width: 271px;
      }
    }
    a{
      color:$dark;
    }
    a:hover{
      text-decoration: none;
    }
  }
  h3 {
    margin:25px 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color:$dark-blue;
    text-shadow:none;

    @media #{$break-sm} {
      margin-top:35px;
      font-size: 21px;
      line-height: 28px;
    }
    @media #{$break-md} {
      margin-top:35px;
      font-size: 21px;
      line-height: 28px;
    }
    @media #{$break-lg} {
      font-size: 24px;
      line-height: 32px;
    }

    span{
      margin-top: 5px;
      display: block;
      font-weight: 300;
      font-style: italic;
      font-size: 21px;
      line-height: 28px;
    }
  }
  .yonder-newsletter-box{
    margin-top: 40px;
    text-align: left;
    color:$dark;
    @media #{$break-sm} {
      margin-top: 22px;
      text-align: right;
    }
    .compass{
      display: inline-block;
      width:40px;
      @media #{$break-sm} {
        width:50px;
        margin-right: 6px;
      }
    }
    .newsletter-msg{
      font-size: 16px;
      font-style: italic;
      color:$red;
      @media #{$break-sm} {
        font-size: 18px;
      }
    }
    .mailing-list-box{
      margin-top:5px;
      margin-bottom: 0;
      display: inline-block;
      label{
        display: none;
      }
      input{
        display: inline-block;
      }
      .input-group{
        margin-top: 8px;
        @media #{$break-sm} {
          margin-top: 0;
        }
      }
      .email,.email:focus{
        border:none;
        width: 100%;
        @media #{$break-sm} {
          width: 160px;
        }
      }
      .btn-submit{
        background: $btn-blue;
        color:#fff;
        -webkit-transition: all 0.15s ease-in-out;
           -moz-transition: all 0.15s ease-in-out;
             -o-transition: all 0.15s ease-in-out;
                transition: all 0.15s ease-in-out;
      }
      .btn-submit:hover{
        background: #536cbd;
      }
    }
  }
  /*Social*/
  #social{}
  #social a{
    margin-right: 5px;
    color:#fff;
    font-size: 24px;
    -webkit-transition: all 0.15s ease-in-out;
       -moz-transition: all 0.15s ease-in-out;
         -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
  }
  #social a:hover{
    color:#fff; 
  }
}



/*ENTRY // Blog Posts*/
#main{
  margin:0;
  padding:0;
  .container{
    margin-bottom: 20px;
    padding-top: 45px;
    padding-bottom: 20px;
    @media #{$break-sm} {
      padding-top: 50px;
    }
  }
  .container:last-child{
    margin-bottom: 0;
  }
}


.home-link{
  margin-bottom: 20px;
}
.date-hed{
  margin:0 0 50px 0;
}
.date-hed h5{
  margin: 0;
  color:#777;
  font-family: $sans;
  text-transform: uppercase;
}
.date-hed h5 a{
  /*color:#90A0D6;*/
  text-decoration: none;
}
.entry{
  margin:0 0 60px 0;
  padding:0; 
  color:$dark;
  font-family: $serif;
  @media #{$break-sm} {
    margin:0 0 96px 0;
  }
}
.entry .kicker{
  margin:0 0 5px 0;
  font-size:14px;
  font-weight:400;
  font-family:$sans;
  @media #{$break-sm} {
    margin:0 0 5px 0;
  }
}
.entry .kicker a,
.entry .kicker a:hover{
  text-decoration: none;
}
.entry-title{
  margin-top:0;
  margin-bottom:12px;
  font-size:24px;
  line-height:32px;
  font-family: $serif;
  font-weight:400;
  color:$dark;
  text-shadow:none;
  @media #{$break-sm} {
    font-size:36px;
    line-height:42px;
  }
  a{
    color:$dark;
    text-decoration: none;
    -webkit-transition: all 0.15s ease-in-out;
       -moz-transition: all 0.15s ease-in-out;
         -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
  }
  a:hover{
    color:$dark;
    // /*text-decoration: underline;*/
  }
}
.entry .entry-summary p{
  margin-bottom: 15px;
}
.entry-summary .more{
  display: block;
  font-family: $sans;
  font-size: 18px;
}
.single .entry-summary,
.page .entry-summary{
  display: none;
}
.entry-summary,
.entry-content *{
  font-size:18px;
  line-height:24px;
  letter-spacing: 0.01em;
  @media #{$break-sm} {
    font-size:21px;
    line-height:30px;
  }
}
.single .entry-content,
.page .entry-content{
  display: block;
}

.entry p{
  margin-bottom: 21px;
}

.entry-content {
  ul, ol{
    margin-bottom: 15px;
    padding-left: 21px;
  }
  li {
    margin-bottom: 10px;
  }
  blockquote{
    padding: 10px 55px;
    border-left:none;
  }
}



.author_date{
  margin-bottom: 25px;
  font-size:14px;
  color:$dark-blue;
  font-family: $sans;
}


/*Draft Posts*/
.status-label{
  margin-right:3px;
  font-family: $sans;
  text-transform:uppercase;
  font-size:13px;
}
.status-draft .status-label{
  padding:1px 5px;
  border-radius: 2px;
  background:rgba(247, 198, 5, 0.35);
}

/*Entry Meta*/
.entry-meta{
  margin-bottom:0;
  color:#b9b5b5;
  color:#9c9999;
  font-family: $sans;
}

.archive-title{
  margin-bottom: 15px;
}
.tags-list{
  margin-bottom: 25px;
}
.tags-list a{
  margin-bottom:7px;
  padding: 3px 13px 5px 13px;
  background-color: rgba(221,81,78,.65);
  font-size: 14px;
  font-weight: 300;
  color:#fff;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-in-out;
     -moz-transition: background-color 0.2s ease-in-out;
       -o-transition: background-color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out;
}
.tags-list a:hover{
  color: white;
  text-decoration: none;
  background-color: rgba(221,81,78,.95);
}

.share-buttons{
  display: block;
  font-size: 18px;
  a{
    padding: 5px 25px;
    color:#fff;
    -webkit-transition: background-color 0.15s ease-in-out;
       -moz-transition: background-color 0.15s ease-in-out;
         -o-transition: background-color 0.15s ease-in-out;
            transition: background-color 0.15s ease-in-out;
  }
  a:hover{
    color:#fff;
  }
}



.twitter-share{
  background-color:rgba(0, 172, 237,.65);
}
.twitter-share:hover{
  background-color:rgba(0, 172, 237,1.0);
}

.facebook-share{
  background-color:rgba(59,89,152,.65);
}
.facebook-share:hover{
  background-color:rgba(59,89,152,1.0);
}

.linkedin-share{
  background-color:rgba(0,119,181,.65);
}
.linkedin-share:hover{
  background-color:rgba(0,119,181,1.0);
}



.btn-edit{
  /*text-transform: uppercase;*/
}

/*IMAGES*/
.photo{
  margin-bottom:21px;
  font-family: $sans;
}
.photo img{
  margin-bottom:2px;
}
.photo .credit{
  color:#999;
  font-size:11px;
  line-height: 11px;
  text-align: right;
  float: right;
}
.photo .caption{
  color:#999;
  font-size:13px
}

.photo-andrej{
  margin-left:auto;
  margin-right:auto;
  width:60%;
}






#editor-tools{
  margin:0;
  padding: 8px;
  font-size: 12px;
  color:#686868;
  border-radius: 3px;
  background: #fff;
  display: none;
}
#editor-tools h5{
  margin-top: 0;
  display: none;
}
#editor-tools ul{
  margin-bottom: 0;
  padding: 0;
}
#editor-tools li{
  padding: 0 18px;
  list-style-type: none;
  float: left;
}
#editor-tools li i{
  margin-top: 3px;
  text-indent: -17px;
  float: left;
}
#nextprev{
  padding: 0;
}


#mission-box{
  margin: 0;
  background: #333;
  background: #0a1523;
  background: #3B3D44;
  color:#fff;
}
.mission-txt{
  margin-top: 20px;
  font-size: 21px;
  font-weight: 300;
}


// Search
.page-template-search{
  #search-area{
    margin-bottom: 140px;
  }
  #tag-cloud {
    a{
      margin-bottom:7px;
      display: inline-block;
      color:#fff;
      background-color: rgba(221,81,78,.65);
      border-radius: 15px;
      border-bottom: none;
      font-weight: 300;
    }
    a:hover{
      background-color: rgba(221,81,78,1);
    }
    .tagcount{
      display: none;
    }
  }
}
#search-area{
  padding: 20px 0 0 0;
  .results_num{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
    color:#777;
  }
  label{
    padding: 0;
  }
  button{
    background: $btn-blue;
    border-color: rgba(106, 136, 229, .5);
  }
}

#tag-cloud{
  margin: 20px 0;
  a{
    margin-bottom:1px;
    padding: 3px 13px 5px 13px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px #ccc solid;
    display: block;
    -webkit-transition: background-color 0.2s ease-in-out;
       -moz-transition: background-color 0.2s ease-in-out;
         -o-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;
  }
  a:hover{
    // background-color: rgba(221,81,78,1);
  }
  .tagcount{
    float: right;
  }
}

.archive, .search {
  .entry{
    margin-bottom: 36px;
    .kicker{
      margin-bottom: 10px;
    }
    .entry-title{
      font-size: 24px;
      line-height:30px;
    }
    .entry-summary{
      font-size: 18px;
      line-height: 24px;
      .more{
        font-size: 16px;
      }
    }
  }
}


/*Footer*/
#footer{
  padding: 40px 0;
  text-align: center;
  font-weight: 600;
  border-bottom: 15px solid #222;
  color:#ccc;
  background: #3B3D44;
  background: #2b2d32;
}
#footer p{
  margin: 0;
  font-size:21px;
  line-height: 21px;
}
#footer .flag{
  margin: 15px auto;
  border: 1px $red solid;
  border-radius: 20px;
  font-size:15px;
  width: 30px;
  height: 30px;
}
#footer .title{
  margin-bottom: 3px;
  font-family: "livory";
  text-transform: lowercase;
}
#footer .title a{
  color:#ccc;
}
#footer .flag .fa-flag{
  color:$red;
  position: relative;
  top: 3px;
}
#footer .datespan{
  margin-bottom:8px;
  font-weight: 400; 
  font-size:13px;
}
#footer .colophon{
  margin-top:10px;
}
#footer .colophon{
  font-weight: 400; 
  font-size:14px;
}
#menu-footer{
  padding:0;
}
#menu-footer li{
  font-size: 15px;
  display: inline;
}
#menu-footer li a{
  padding: 5px 10px;
}

#infinite-handle{
  margin-bottom: 60px !important;
  padding-top:0 !important;
  padding-bottom:0 !important;
  button{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn, button{
    background: rgba(221,81,78,.65);
    color: #fff;
  }
  .btn:hover, button:hover{
    background: rgba(221,81,78,.95);
    color: #fff;
    text-decoration: none;
  }
}